*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  align-items: center;
  min-height: 100vh;
  width: 90%;
  margin: auto;
  position: relative;
}

.container {
  display: flex;
  min-height: 80vh;
  width: 100%;
  /* justify-content: center; */
  /* margin: auto; */
  /* justify-content: space-between; */
  /* gap: 15px; */
}

.status {
  /* flex-wrap: nowrap; */
  background-color: rgb(232, 232, 232);
  color: white;
  width: 25%;
  position: relative;
  /* padding-top: 60px; */
  border-right: 1px solid #aaa;
  display: flex;
  flex-direction: column;
  /* pointer-events: none; */

  /* gap: 15px; */
  /* margin: 0; */
  /* gap: 5px; */
  /* justify-content: space-between; */

  /* height: 100px; */
  /* display: inline-block; */
}

/* .status:nth-child() {
  border: none;
} */

.status h1 {
  font-size: 1rem;
  background-color: orange;
  text-align: center;
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  width: 100%;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
}

.note {
  /* display: block; */
  background-color: #ddd;
  padding: 1rem;
  margin: 0.25rem 0.5rem;
  color: black;
  border-radius: 5px;
  /* width: 100%; */
  display: flex;
  font-size: 0.8rem;
  z-index: 100;
  /* flex-wrap: nowrap; */

  justify-content: space-between;
  align-items: center;
  /* pointer-events: none; */
}

.note:hover {
  background-color: #aaa;
  cursor: pointer;
}

.close:hover {
  color: white;
  cursor: pointer;
  font-size: 1.25rem;
}

.addbtn {
  margin: 0 0.5rem;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: red;
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
  /* width: 100%; */
  cursor: pointer;
}

.addbtn:hover {
  background-color: rgb(212, 19, 19);
}

/* .bodycontainer {
  background-color: #aaa;
  min-height: 250px;
} */
.over {
  background-color: rgb(164, 164, 164);
}

/* modal */
.inputgroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1.25rem;
  /* outline: none; */
  /* border-radius: 5px; */
}

.inputgroup label {
  font-size: 25px;
  font-weight: 700;
}

.inputgroup textarea {
  height: 125px;
  outline: none;
  font-size: 1.25rem;
}

.btn {
  background-color: green;
  padding: 1.25rem;
  color: white;
  font-size: 1.25rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  /* background-color */
  box-shadow: 0 0 0 3px, green 0 0 0 5px;
}

.form {
  background-color: white;
  border-radius: 5px;
}

.modalcontainer {
  background-color: #aaa;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  /* display: none; */
  /* overflow-x: hidden; */
  /* scroll */
}

.hide {
  display: none;
}

.modal {
  padding: 1.25rem;
  width: 500px;
  height: 300px;
  /* height: 50vh; */
}
